[Unit]
Description=Slideshow Display
After=network.target

[Service]
ExecStart={{ venv_python }} /usr/local/bin/slideshow.py
Restart=always
User={{ service_user }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target